<div class="modal-lista mostrar-lista"><!--Ahorita lo oculto-->
        <div class="form-lista">
            
            <form action="/dashboard/lista/{{id_inventario}}/editar/{{id_producto}}" class="form-lista-add" method="post">
                <a href="/dashboard/lista/{{id_inventario}}"><span id="close-modal-lista">X</span></a>
                <label for="nombre_pro">Nombre del producto:</label>
                <input type="text" name="nombre_pro" value="{{nombre_pro}}" id="nombre_pro_edit">
    
                <label for="cantidad">Cantidad:</label>
                <input type="number" name="cantidad" value="{{cantidad}}" min="1" id="cantidad_edit">

                <label for="cantidad_min">Cantidad minima:</label>
                <input type="number" name="cantidad_min" value="{{cantidad_min}}" min="1" id="cantidad_min_edit">

                <label for="fecha_caducidad">Fecha caducidad:</label>
                <input type="date" name="fecha_caducidad" id="fecha-lista-edit" value="{{fecha_caducidad}}">

                <div id="botones-edit-pro-form">
                    <span id="button-lista-validar">Validar</span>
                    <button id="button-lista-edit" class="quitar-btn">Actualizar</button>
                </div>                
            
            </form>
        </div>
    </div>

    <div class="container-error-signup ocultar-signup">
        <div class="error-form-signup">
            <i class="fa-regular fa-circle-xmark"></i>
            <div class="errores-signup">
                <b>Tienes los siguientes errores:</b>
                <ul id="errores-ul">
                </ul>      
            </div>
        </div>
    </div>