
    
    <!--<div class="modal-eliminar ocultar-modal-eliminar">
        <form action="#">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <b>Usted esta a punto de eliminar un producto</b>
            <p>¿Desea eliminarlo?</p>
            <button>Eliminar</button>
        </form>
    </div>-->

    <div class="modal-notification ocultar-notification">
        <div class="modal-form-class">
            <b>¿Desea notificar la caducidad de un producto?</b>
            <div class="buttons-notificar">
                <form action="/dashboard/micocina/{{id_inventario}}/notificar/caducidad" method="post">
                    <button id="btn-notificar-form">Notificar</button>
                </form>
                <form action="/dashboard/micocina/{{id_inventario}}/cancelar-notificaciones/caducidad" method="post">
                    <button id="btn-cancel-notificar">Dejar de notificar</button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal-ingresar-producto ocultar-agregar-pro"><!--Ahorita lo oculto-->
        <div class="form-mi-cocina">
            <form action="/dashboard/micocina/{{id_inventario}}" method="post" class="form-ingresar-producto">
                <span id="close-modal-ingresar">X</span>
                <label for="nombre_producto">Nombre del producto:</label>
                <input type="text" name="nombre_pro" id="nombre_pro_cocina">

                <div id="cantidades-micocina">
                    <div>
                        <label for="cantidad">Cantidad</label>
                        <input type="number" name="cantidad" min="0" id="cantidad_cocina">
                    </div>

                    <select name="medida" id="medidas">
                        <option value="Kg">Kg</option>
                        <option value="Ml">Ml</option>
                        <option value="L">L</option>
                        <option value="Mg">Mg</option>
                        <option value="Piezas">Piezas</option>
                        <option value="Barra">Barras</option>
                        <option value="Frasco">Frascos</option>
                        <option value="Caja">Caja</option>
                    </select>
                </div>

                <label for="cantidad_minima">Cantidad minima:</label>
                <input type="number" name="cantidad_min" min="1" id="cantidad_minima_cocina">

                <div class="container-categoria">
                    <label for="categoria">Categoria:</label>
                    <select name="categoria" id="categoriaCocina">
                        <option value="Frutas y verduras">Frutas y verduras</option>
                        <option value="Producto procesado">Producto procesado</option>
                        <option value="Lacteos">Lacteos</option>
                        <option value="Carnes">Carnes</option>
                        <option value="Embutidos">Embutidos</option>
                    </select>
                </div>
                

                <label id="fechaCocinaLabel" for="fecha_caducidad" class="ocultar-fecha">Fecha caducidad:</label>
                <input type="date" name="fecha_caducidad" id="fecha_caducidad_cocina" class="ocultar-fecha">
                <div id="botones-cocina-form">
                    <span id="validar-form-cocina">Validar</span><button id="button-agregar-pro-cocina" class="quitar-btn">Agregar</button>
                </div>
            </form>
        </div>
    </div>

    <!--Cuando hay error en el modal de registrar un producto-->
    <div class="container-error-signup ocultar-signup">
        <div class="error-form-signup">
            <i class="fa-regular fa-circle-xmark"></i>
            <div class="errores-signup">
                <b>Tienes los siguientes errores:</b>
                <ul id="errores-ul">
                </ul>      
            </div>
        </div>
    </div>

    <header id="header-cocina">
        <a href="/dashboard"><i class="fa-solid fa-angle-left"></i></a>

        <aside class="options-cocina">
            <h1>Mi Cocina</h1>

            <ul id="options">
                
                <a href="/dashboard/micocina/{{id_inventario}}/lista-de-compra/consultar" id="gen-lista"><li><i class="fa-solid fa-list-ul"></i>Generar lista de compra</li></a>
                
                <li id="btn-notificar"><i class="fa-solid fa-bell"></i>Notificar avisos</li>
                
                {{#if productos}}<!--Si hay productos entonces, muestrate en el header -->
                    <li class="add-pro-cocina"><i class="fa-solid fa-circle-plus"></i> Agregar producto </li>
                {{else}}<!--Si no hay productos, muestra otra ventana de dialogo para poder habilitar el DOM-->
                    <div class="cocina-pro-container">
                        <i class="fa-solid fa-circle-plus"></i>
                        <b id="mnsg-sin-pro-cocina">Aún no se han agregado productos</b>
                        <button type="button" id="add-pro-cocina-first">Crear</button>
                    </div>
                {{/if}}

            </ul>
        </aside>
    </header>

    <main class="productos-cocina">
        <table>
            <thead>
                <tr><th>Nombre</th> <th>Cantidad disponible</th> <th>Fecha de caducidad</th> <th>Acciones</th></tr>
            </thead>

            <tbody>
                {{#each productos}}
                    <tr><th>{{nombre_pro}}</th> <th>{{cantidad}} {{medida}}</th> <th>{{fecha_caducidad}}</th> <th class="actions-pro"> <a href="/dashboard/micocina/{{id_inventario}}/editar/{{id_producto}}"><i class="fa-solid fa-rotate updated-product"></i></a> <a href="/dashboard/micocina/{{id_inventario}}/{{id_producto}}"><i class="fa-regular fa-trash-can delete-pro"></i></a> </th></tr>
                
                {{/each}}                
            </tbody>
        </table>
    </main>

    <footer class="footer">
        <span>NutryFoodPantry</span>
        <div class="logo-footer"><img src="/img/N.png" alt="logo"></div>
    </footer>

