    
    <!--<div class="modal-eliminar ocultar-modal-eliminar">
        <form action="#">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <b>Usted esta a punto de eliminar un producto</b>
            <p>¿Desea eliminarlo?</p>
            <button>Eliminar</button>
        </form>
    </div>-->

    <div class="modal-ingresar-producto ocultar-agregar-pro"><!--Ahorita lo oculto-->
        <div class="form-mi-cocina">
            <form action="/dashboard/micocina/{{id_inventario}}" method="post" class="form-ingresar-producto">
                <span id="close-modal-ingresar">X</span>
                <label for="nombre_producto">Nombre del producto:</label>
                <input type="text" name="nombre_pro">

                <label for="cantidad">Cantidad:</label>
                <input type="text" name="cantidad">

                <label for="cantidad_minima">Cantidad minima:</label>
                <input type="text" name="cantidad_min">

                <label for="fecha_caducidad">Fecha caducidad:</label>
                <input type="text" name="fecha_caducidad">

                <button id="button-agregar-pro-cocina" >Agregar</button>
            </form>
        </div>
    </div>

    <header id="header-cocina">
        <a href="/dashboard"><i class="fa-solid fa-angle-left"></i></a>

        <aside id="options-cocina">
            <h1>Mi Cocina</h1>

            <ul id="options">
                <li><i class="fa-solid fa-list-ul"></i>Generar lista de compra</li>
                <li><i class="fa-solid fa-bell"></i>Notificar avisos</li>
                <li class="add-pro-cocina"><i class="fa-solid fa-circle-plus"></i>Agregar producto</li>
            </ul>
        </aside>
    </header>

    <main class="productos-cocina">
        <table>
            <thead>
                <tr><th>Nombre</th> <th>Cantidad minima</th> <th>Cantidad disponible</th> <th>Fecha de caducidad</th> <th>Acciones</th></tr>
            </thead>

            <tbody>
                {{#each productos}}
                    <tr><th>{{nombre_pro}}</th> <th>{{cantidad_min}}</th> <th>{{cantidad}}</th> <th>{{fecha_caducidad}}</th> <th id="actions-pro"> <a href="/dashboard/micocina/{{id_inventario}}/editar/{{id_producto}}"><i class="fa-solid fa-rotate updated-product"></i></a>  <a href="/dashboard/micocina/{{id_inventario}}/{{id_producto}}"><i class="fa-regular fa-trash-can delete-pro"></i></a></th></tr>
                
                {{else}}
                    <div class="mnsg-add-pro-none">
                        <b>No hay productos actualmente</b>
                    </div>
                {{/each}}                
            </tbody>
        </table>
    </main>
